@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.navbar-dark {
    background-color: black;
}
.hello{
    font-family:'Pacifico', cursive;
    font-weight: 300;
    color: rgb(156, 38, 38);
}
.head {
    color: aliceblue;
}
.jumbotron{
    padding: 0;
}
.tejaimg{
    height: 727px;
    width: 661px;
    margin-top: 69px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 4.5rem;
}

.namebox{
    margin-top: 160px;
}

.contact{
    margin: 110px 0px;
}

@media only screen and (max-width: 815px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 2rem;
    }
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
        min-width: 520px;
        margin-bottom: 0%;
        
    }
    
    
  }


  .carousel {
    background: black;

}

.carousel-item {
    height: 300px;
}

.carousel-item img {
position:absolute;
top:0;
left:0;
min-height:100px;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom:0px;
    z-index: 1;
}

.imgmod {
  max-width: 50%;
  height: auto;
}

.badge-danger  {
    background-color: rgb(156, 38, 38);
}

.btn-danger {
    background-color: rgb(156, 38, 38) ;
}


.footer {
    background-color: black;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.footerButton {
    color: aliceblue;
}

.bg-dark {
    padding: 15px;
}

.card-body {
    padding: 5.25rem;
}


.card-title {
    margin-bottom: 0.75rem;
    margin: -20px -30px;
}

.card-text:last-child {
    margin-bottom: 0;
    margin: -15px -50px;
    padding: 20px;
}
.cardflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.icons {
    font-size:x-large ;
}
.iconsColor{
    color : rgb(145, 145, 144);
}
.twitterColor:hover{
    color:#00acee;
}

.linkedinColor:hover{
    color: #0e76a8;
}

.gitColor:hover{
    color: rgb(255, 255, 255);
}

.instagramColor:hover{
    background: #f09433; 
    border-radius: 20px;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.tab{
    color: black;
}

.tab:hover{
    color:black;
}

.links{
    color: #ddd;
}

.links:hover{
    text-decoration: none;
}

.alink{
    color: black;
}

.alink:hover{
    text-decoration: none; 
}

.btn-outline-danger:hover{
    background  : rgb(156, 38, 38);
}
.btn-outline-secondary:hover{
    background: rgb(156, 38, 38);
}
@media only screen and ( min-width:370px ) and (max-width: 500px) {
    
    .footerWidth {
        margin-left : 78px;
    }
    
  }

@media only screen and (max-width:370px) {
    .footerWidth{
        margin-left: 66px;
        margin-right: 0;
    }
}

@media only screen and (max-width:348px) {
    .footerWidth{
        margin-left: 65px;
        margin-right: 0;
    }
}

@media only screen and (max-width:569px) {
    .row{
    display : flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.mrg{
    margin-top: 5px;
    margin-bottom: 5px;
    offset: 0;
}
.mrgone{
    margin-left: 10px !important;
}

}


