@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
.navbar-dark {
    background-color: black;
}
.hello{
    font-family:'Pacifico', cursive;
    font-weight: 300;
    color: rgb(156, 38, 38);
}
.head {
    color: aliceblue;
}
.jumbotron{
    padding: 0;
}
.tejaimg{
    height: 680px;
    width: 661px;
    margin-top: 69px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 4.5rem;
}

.namebox{
    margin-top: 160px;
}

.contact{
    margin: 110px 0px;
}

@media only screen and (max-width: 815px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 2rem;
    }
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
        min-width: 520px;
        margin-bottom: 0%;
        
    }

  }

  .carousel {
    background: black;

}

.carousel-item {
    height: 300px;
}

.carousel-item img {
position:absolute;
top:0;
left:0;
min-height:100px;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom:0px;
    z-index: 1;
}

.imgmod {
  max-width: 50%;
  height: auto;
}

.badge-danger  {
    background-color: rgb(156, 38, 38);
}

.btn-danger {
    background-color: rgb(156, 38, 38) ;
}

.footer {
    background-color: black;
    margin: 0px auto;
    padding: 100px 10px 100px 140px;
    color: white;
}

.footerButton {
    color: aliceblue;
}

.bg-dark {
    padding: 15px;
}

.card-body {
    padding: 5.25rem;
}


.card-title {
    margin-bottom: 0.75rem;
    margin: -20px -30px;
}

.card-text:last-child {
    margin-bottom: 0;
    margin: -15px -50px;
    padding: 20px;
}
.cardflex{
    display: flex;
    justify-content: center;
    align-items: center;
}